name: Code Quality

on:
    push:
    pull_request:

jobs:
    linting:
        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                os: [macos-latest]

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                  python-version: "3.12"

            - name: Install Poetry
              run: pip install poetry

            - name: Install dependencies
              run: poetry install --with dev

            - name: Run Ruff
              run: poetry run ruff check src tests
