name: Tests

on:
    push:
    pull_request:

jobs:
    unit-tests:
        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                os: [macos-latest, windows-latest]

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                  python-version: "3.12"

            - name: Install Poetry
              run: pip install poetry

            - name: Install dependencies
              run: poetry install --with dev

            - name: Run tests
              run: poetry run pytest

    linting:
        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                os: [macos-latest]

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                  python-version: "3.12"

            - name: Install Poetry
              run: pip install poetry

            - name: Install dependencies
              run: poetry install --with dev

            - name: Run type checks
              run: poetry run flake8 src tests

    typecheck:
        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                os: [macos-latest]

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                  python-version: "3.12"

            - name: Install Poetry
              run: pip install poetry

            - name: Install dependencies
              run: poetry install --with dev

            - name: Run type checks
              run: poetry run mypy src tests
